<!DOCTYPE HTML>
<html xml:lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MAINTANANCE-MONITOR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="application/javascript">setInterval(_ => window.location.reload(), 500);</script>
</head>
<body th:bgcolor="${color}">
<h1 th:text="MAINTANANCE-MONITOR" style="text-align:center; color: #FFFFFF"></h1>
<h2 th:text="${message}" style="text-align:center; color: #FFFFFF"></h2>
</body>
</html>

